@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=SUSE:wght@100..800&display=swap');

.auth-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  
}

.auth-box {
  background: #fff;
  padding: 2rem 3rem;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  font-family: "SUSE";
  text-align: center;
}

.auth-box h2 {
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  color: #333;
}

.auth-box form input {
  display: block;
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}

.auth-btn {
  width: 100%;
  background-color: #eb5e28;
  color: white;
  border: none;
  padding: 0.8rem;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.auth-btn:hover {
  background-color: #fff;
  color: #eb5e28;
  border: 2px solid #eb5e28;
}

.google-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #fff;
  color: #444;
  border: 2px solid #eb5e28;
  border-radius: 8px;
  padding: 0.9rem 1.2rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 1.5rem;
  width: 100%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  font-family: "SUSE";
}

.google-btn img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.google-btn:hover {
  background-color: #eb5e28;
  color: white;
  box-shadow: 0 6px 16px rgba(235, 94, 40, 0.3);
}

.google-btn:hover img {
  filter: brightness(0) invert(1);
}

.toggle-text {
  margin-top: 1.2rem;
  font-size: 0.95rem;
}

.toggle-text span {
  color: #eb5e28;
  cursor: pointer;
  font-weight: bold;
}
